# Environment variables
.env

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/

# IDE & Editor settings
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
